.main-contents
  .center-contents
    .center-header
      hand-makers
    .form
      検索
    .posts
      投稿一覧
  .right-contents
    .right-header
    .favo-users
      お気に入りユーザー
    .favo-posts
      お気に入り投稿
    