.side-bar
  .header
  .menu
    .menu-box
      %ul
        %li<>
          プロフィール
        %li<>
          作品を投稿する
        %li<>
          作品を検索する
        %li<>
          ログアウト
  .history
    .history-box